language: julia

os:
  - linux
  - osx

arch:
  - amd64
  - arm64

julia:
  - 1.0
  - 1.1
  - 1.2
  - 1.3
  - nightly

notifications:
  email: false

matrix:
  allow_failures:
    - julia: nightly
    - os: osx
    - arch: arm64

# script:
#   - julia --color=yes -e 'using Pkg; Pkg.build()'
#   - julia --check-bounds=yes --color=yes -e 'using Pkg; Pkg.test(coverage=true)'

jobs:
  fast_finish: true

after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("ApproxManifoldProducts")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
